/* Font for Header */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
/* Subheadings and buttons */
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
/* Font for text */
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

* {
  box-sizing: border-box;
  background-color: #CBE1EF;
}

/* Top Header */
.signup {
  text-align: right;
  margin-right: 10px;
  font-family: "Offside", sans-serif;
}

/* Header */
.header {
  font-family: "Merienda", sans-serif;
  color: #DF0054;
  text-align: center;
  font-size: 40px;
  margin-bottom: -25px;
}

.header a {
  text-decoration: none;
}

/* NavBar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid black;
  margin-bottom: 10px; 
}

.navbar a {
  text-decoration: none;
  color: #FC888C;
  font-family: "Offside", sans-serif;
  font-size: 20px;
}

/* Home Page */
.home {
  text-align: center;
}

.home img {
  border-radius: 25px;
  width: 850px;
  height: 500px;
  margin: auto;
  padding: 1rem;
}

/* Create Post */
.create {
  background-color: #DF0054;
  color: white;
  font-family: "Offside", sans-serif;
}

.container-new {
  width: 50vw;
  height: 53vh;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #FC888C,
              -1px -1px 10px #FC888C,
              1px -1px 10px #FC888C,
              -1px 1px 10px #FC888C;
  justify-content: center;
}

.container-new input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

.container-new textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

::placeholder {
  color: #FC888C;
  font-family: "Offside", sans-serif;
}

/* VT Page */
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one ul {
  grid-column: 1 / 5;
  grid-row: 1;
}
.two {
  grid-column: 2 / 5;
  grid-row: 1;
}
.three {
  grid-column: 3/5;
  grid-row: 1;
}
.four {
  grid-column: 4/5;
  grid-row: 1;
}
.five {
  grid-column: 5/5;
  grid-row: 1;
}

.wrapper h2 {
  font-family: "Offside", sans-serif;
}

.wrapper li {
  font-family: "Lekton", sans-serif;
  color: #cd2b27;
}

/* FOOTER */
.footer {
  font-family: "Offside", sans-serif;
  text-align: center;
}

.footer-right  a {
  text-align: center;
  display: inline-block;
}

